@import "./variables.css";
html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

html,
body {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: var(--dark);
}
